*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
supabase.txt
*.env.local
.env
.env.production
project-secrets.env
admin-panel/node_modules/
admin-panel/.next/
admin-panel/.vercel/
*.apk
*.aab
app/build/
Bcore/build/


/OgCheats/build
